@model Cerium.AspNetDemo.Models.LoginModel

<h1>Login</h1>
<hr />
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.LabelFor(x => x.Username) @Html.TextBoxFor(x => x.Username)
    <br />
    @Html.LabelFor(x => x.Paswsword) @Html.PasswordFor(x => x.Paswsword)
    <br />
    <input class="btn" type="submit" value="Login" />
}
@Html.ActionLink("Reset Password", "ForgotPassword")
<br />
@{ 
    var providers = Context.GetOwinContext().Authentication.GetAuthenticationTypes(q => !string.IsNullOrEmpty(q.Caption));
    if (providers != null && providers.Any())
    {
        using (Html.BeginForm("ExternalAuthentication", "Account", FormMethod.Post))
        {
            foreach (var provider in providers)
            {
                <button class="btn" value="@provider.AuthenticationType" name="provider" type="submit">
                    @provider.Caption
                </button>
            }
        }
    }
}
