@model Cerium.AspNetDemo.Models.RegisterModel

<h1>Registration</h1>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.LabelFor(x => x.Username) @Html.TextBoxFor(x => x.Username)
    <br />
    @Html.LabelFor(x => x.Paswsword) @Html.PasswordFor(x => x.Paswsword)
    <br />
    @Html.LabelFor(x => x.FullName) @Html.TextBoxFor(x => x.FullName)
    <br />
    @Html.LabelFor(x => x.AddressLine) @Html.TextBoxFor(x => x.AddressLine)
    <br />
    @Html.LabelFor(x => x.Country) @Html.TextBoxFor(x => x.Country)
    <br />
    <input class="btn" type="submit" value="Register" />
}